.git
.idea
.npm
.nvm

node_modules

.wget-hsts

data
config.json
json.sqlite

Test/*

# Bunch of files from the bot that needs to be dealt with eventually.
install.sh
package-lock.json
.bashrc
start.sh