.git

Panel/node_modules
Panel/package-lock.json
Panel/data
Panel/config.json
Panel/json.sqlite
Panel/images
Panel/start.bat
Panel/eng.traineddata

Daemon/node_modules
Daemon/package-lock.json

Test/*