    <div class="navbar navbar-default">
		<div class="container-fluid">
				  <div id="header" style="display:flex; align-items:center; justify-content:space-around;">
					    <div id="group1">
        					<a href="/"><h1>{{{title}}}</h1></a>
					  	</div>
					  	<div id="group2">
							<div class="btn-toolbar">
								{{#unless user }}
								{{else}}
								<a href="/users/profile" class="btn btn-default">
										<img style="max-height:30px;" src="{{ user.local.avatarURL }}" onError="this.onerror=null; this.src='../images/novatar.png'"/>
										{{{ user.local.username }}}</a>
								{{/unless}}
							</div>
					    </div>
				  </div>
		</div>
    </div>