<script async src="https://arc.io/widget.min.js#hKjxfFbG"></script>
<%- include("./partials/header.ejs", { botInfo: false, Title: "Server Cams - DBH", Avatar: "", Redirect: "/me" }) %>

<meta http-equiv="refresh" content="9"/>
<br><br><br>

<br><br><br>

<style>
    .container {
        text-align: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .large {
        font-size: 4em;
    }

</style>

<div class="">
    <div class="row justify-content-md-center">
        <h5>Live Camera's (These update every 10seconds)</h5>
    </div>

    <div class="row justify-content-md-center">
        <iframe width="800" height="480" src="https://www.youtube.com/embed/nSLLD9jxksA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>
