<%- include("./partials/header.ejs", { botInfo: false, Title: "Home", Avatar: "", Redirect: "/me" }) %>


<br><br><br><br>

<center> 
    <div class="h5 mb-0 font-weight-bold"> <%- message %> </div>
    
</center>