
<%- include("./partials/header.ejs", { botInfo: false, Title: "Bots", Avatar: "", Redirect: "/bots" }) %>
<link rel="stylesheet" href="//mythicalbots.xyz/css/bots.css">
<link rel="stylesheet" href="//mythicalbots.xyz/css/form.css">


<script type="ea338611bd16b7fd209298bb-text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
<script type="ea338611bd16b7fd209298bb-text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/75db8f9097.js" type="ea338611bd16b7fd209298bb-text/javascript"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Dosis:200,400,700" rel="stylesheet">


<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="ea338611bd16b7fd209298bb-|49" defer=""></script></body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" type="text/css">
<div class="py-5 bg-">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <h4><img class="img-fluid d-block mx-auto" src="" width="">Feedback Area</h4>
                            <br/>
                            Welcome to the Feedback Area of DanBot Hosting. You can report bugs & suggestions via this
                            forms.<br/><br/><b>Before posting, please verify if your bug/suggestion isn't listed.</b>
                            <br/><br/>
                            <ul class="nav navv-pills" style="background-color: #fff;">
                                <li><a style="margin: 8px" class="btn btn-primary btn-sm btn-warning text-white"
                                       data-toggle="pill" href="#bug">Report a bug</a></li>
                                <li><a style="margin: 8px" class="btn btn-primary btn-sm btn-success text-white"
                                       data-toggle="pill" href="#suggestion">Suggestion</a></li>
                        </center>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 15px;" class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="bug" class="card tab-pane fade in">
                        <div class="card-body">
                            <h4>I would like to file a bug report.</h4>
                            <form method="post" action="/feedback/post/bug">
                                <div class="form-group">
                                    <label>Write down what happen and in what circumstances the bug appeared.</label>
                                    <textarea type="text" name="bug" rows="4" maxlength="300" class="form-control"
                                              placeholder="Write here.."></textarea>
                                </div>
                                <button type="submit" class="btn btn-success text-white">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div id="suggestion" class="card tab-pane fade">
                        <div class="card-body">
                            <h4>I have a suggestion!</h4>
                            <form method="post" action="/feedback/post/suggestion">
                                <div class="form-group">
                                    <label>Write down your suggestion! You can include multiple suggestion at
                                        once.</label>
                                    <textarea type="text" name="suggestion" rows="4" maxlength="300"
                                              class="form-control" placeholder="Write here.."></textarea>
                                </div>
                                <button type="submit" class="btn btn-success text-white">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        type="ea338611bd16b7fd209298bb-text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
        type="ea338611bd16b7fd209298bb-text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        type="ea338611bd16b7fd209298bb-text/javascript"></script>
<script src="/js/Footer.js" type="ea338611bd16b7fd209298bb-text/javascript"></script>
<script src="/js/darkmode.js" type="ea338611bd16b7fd209298bb-text/javascript"></script>
