
<%- include("./partials/header.ejs", { botInfo: false, Title: "Home", Avatar: "", Redirect: "/me" }) %>

<style>
    .hwrapper {
        height: 100vh;
        width: 100vw;
        padding: 0;
        position: relative;
    }

    .hwrapper > * {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .header {
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .himg {
        height: 100px;
        margin-bottom: 1rem;
        border-radius: 50%;
    }

    .mbtn {
        background: #00caff;
        background: linear-gradient(225deg, #00caff, #0066ff);
        color: white;
        padding: 15px 60px 10px;
        display: inline-block;
        font-size: 1.5rem;
        border-radius: 34px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        margin-right: 25px;
    }

    .lbtn {
        background-color: black;
        color: white;
        padding: 15px 60px 10px;
        font-size: 1.5rem;
        display: inline-block;
        text-decoration: none;
        border-radius: 34px;
    }

    .mbtn:hover {
        box-shadow: 3px 4px 12px rgba(0, 0, 0, .5);
    }

    .lbtn:hover {
        background-color: #252525;
        box-shadow: 3px 4px 12px rgba(0, 0, 0, .5);
    }
</style>

<div class="hwrapper" id="top">
    <div class="header" data-aos="fade">
        <img class="himg" draggable="false" src="https://cdn.danbot.xyz/tQSeD4gm"/>
        <h1><span style="color: #fff">DanBot Hosting</span></h1>
        <center><h3><span style="color: #fff"> Free, but fast & reliable hosting; at your fingertips. <br/> You can Host Bots, Websites, Game-servers and much more! </span>
            </h3></center>
        <div>
            <center>
                <a href="https://panel.danbot.host/" class="mbtn">Hosting Panel</a>
            </center>
        </div>
    </div>
</div>
