<script async src="https://arc.io/widget.min.js#hKjxfFbG"></script>
<%- include("./partials/header.ejs", { botInfo: false, Title: "Partners", Avatar: "", Redirect: "/partners" }) %>
<link rel="stylesheet" href="https://cdn.astrobot.org/css/bots.css">
<link rel="stylesheet" href="https://cdn.astrobot.org/css/form.css">

<br><center>
<br>
<h5 class="sub">Our Partners!</h5>
</center>

<div class="container">
<div class="block-center">

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<div class="card server-block level1"> <div class="card-body">
  <div>
  <a href="//discord.gg/HMUfMXDQsV" rel="nofollow" target="blank">
  <img class="card-avatar" src="//cdn.discordapp.com/icons/773352845738115102/a_749bb0d4c499a71bc4f45e7a0abec0f7.png" draggable="false"></a>
  </div>
  <h5 class="card-title" title="yuh">Discord Bot Designer</h5>
  <div class="le el card-text description">
    This Package, allows you to make Discord Bot with ease!
    Are you Familiar with BDFD aka Bot Designer for Discord?

    Then you can easily transfer your code into this Package with no issues!
  </div>
  <div class="server-bottom">
  <span class="members">
   <i id="dynamicPart"> </i> </span>
  <a href="//discord.gg/HMUfMXDQsV" rel="nofollow" target="blank" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
  </div>
  </div>
  </div>
</div>
</div>

