<script async src="https://arc.io/widget.min.js#hKjxfFbG"></script>
<%- include("./partials/header.ejs", { botInfo: false, Title: "Partners", Avatar: "", Redirect: "/partners" }) %>
<link rel="stylesheet" href="https://cdn.astrobot.org/css/bots.css">
<link rel="stylesheet" href="https://cdn.astrobot.org/css/form.css">

<br>
<center>
    <br>
    <h5 class="sub">W.I.P</h5>
</center>

<div class="container">
    <div class="block-center">

        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

        <h1>W.I.P (These did exist but have gone missing? New site coming soon)</h1>
    </div>
</div>

