<%- include("./partials/header.ejs", { botInfo: false, Title: "Home", Avatar: "", Redirect: "/me" }) %>

<div class="hwrapper" id="top">
   <div class="header" data-aos="fade">
      <img class="himg" draggable="false" src="https://cdn.danbot.xyz/tQSeD4gm" />
      <h1><span style="color: #5161ce">DanBot Hosting</span></h1>
      <h3><span style="color: #5161ce"> Free, but fast & reliable hosting; at your fingertips. <br/> You can Host Bots, Websites, Game-servers and much more! </span></h3>
      <div>
      <center>
      	<a href="https://panel.danbot.host/" class="mbtn" >Hosting Panel</a>
      	<a href="https://danbot.host/me" class="mbtn" style="background-color: black !important; color: white; padding: 15px 60px 10px; font-size: 1.5rem; display: inline-block; text-decoration: none; border-radius: 34px;" >Your Account</a>
      </center>
      </div>
   </div>
</div>
