<%- include("./partials/header.ejs", { botInfo: false, Title: "Home", Avatar: "", Redirect: "/me" }) %>
<br><br><br><br><br>
<script data-ad-client="ca-pub-1419536702363407" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<center>
    <h2 style="font-size: 25px;"> Welcome To DanBot Hosting </h2>
    <h1> Free and fast hosting, available for everyone to use. </h1>
    
    <br> 
    
    we're still working on this page so check back soon!
    
</center>
<br>

<h1 style="font-style: bold;"> About Us </h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
document.onkeydown = function(e) {
        if (e.ctrlKey && 
            (e.keyCode === 67 || 
             e.keyCode === 86 || 
             e.keyCode === 85 || 
             e.keyCode === 117)) {
            return false;
        } else {
            return true;
        }
};
$(document).keypress("u",function(e) {
  if(e.ctrlKey)
  {
return false;
}
else
{
return true;
}
});
</script>