<%- include("./partials/header.ejs", { botInfo: false, Title: "Partners", Avatar: "", Redirect: "/partners" }) %>
<link rel="stylesheet" href="//mythicalbots.xyz/css/bots.css">
<link rel="stylesheet" href="//mythicalbots.xyz/css/form.css">

<br><center>
<br>
<h5 class="sub">Our Partners!</h5>
</center>

<div class="container">
<div class="block-center">

<div class="card server-block level1"> <div class="card-body">
<div>
<a href="//mythicalbots.xyz?utm_source=dbh" rel="nofollow" target="blank">
<img class="card-avatar" src="https://mythicalbots.xyz/images/icon-pride.png" draggable="false"></a>
</div>
<h5 class="card-title" title="yuh">Mythical Bot List</h5>
<div class="le el card-text description">
Mythical Bot List, do you ever feel like your bot hasn't experienced quality advertising? Have you ever dreamt of having your bot on the front page of a botlist being featured? Well Mythical Bot List is your place!
</div>
<div class="server-bottom">
<span class="members">
<i class="fas fa-server"></i>0?</span>
<a href="//mythicalbots.xyz?utm_source=dbh" rel="nofollow" target="blank" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
</div>
</div>
</div>