<%- include("../partials/header.ejs", { botInfo: false, Title: `Your Bots`, Avatar: ``, Redirect: `/me` }) %>
   <link rel="stylesheet" href="//mythicalbots.xyz/css/bots.css">
   <link rel="stylesheet" href="//mythicalbots.xyz/css/form.css">

   <link href="//soulcoven.me/css/bw.css" rel="stylesheet">


   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/css/page.css">
   <link rel="stylesheet" href="https://mythicalbots.xyz/css/form.css">
   <script src="https://use.fontawesome.com/bfddc8ce66.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous" async></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"
      type="c1b4a7bcbe2fe96ca5f06fd4-text/javascript"></script>
   <script src="https://kit.fontawesome.com/75db8f9097.js" type="c1b4a7bcbe2fe96ca5f06fd4-text/javascript"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Dosis:200,400,700" rel="stylesheet">


   <main>
      <div class="jumbotron secondary-jumbotron bg-transparent">
         <center>
            <div class="container">
               <h1>Staff application </h1>
               <center>
                  <h2 style="font-size:20px;">Apply for staff</h2>
               </center>
               <center>
                  <h1 style="font-size:20px;">Please give as much information as possible.</h1>
               </center>
            </div>
         </center>
      </div>
      <!--  
<div class="container">
 <center>
   <div class="row" role="alert">
     <div class="col-md-12" role="alert">
       <div class="alert alert-primary alert-danger" role="alert">
         <button type="button" class="close" data-dismiss="alert">×</button>
         <h4 class="alert-heading"> This is still being worked on! </h4>
         
      </div>
    </div>
  </div>
 </center>
</div> 
  -->
      <!--
 Ideas:
- desc
- image
- news title
- news brack



-->

      <div class="container">
         <div id="errormessage"></div>
         <div class="col-lg-7 card server-form-panel">
            <article class="card-body">
               <form action="" method="post" role="form">
                  <input type="hidden" name="user" value=<%=user.id %>>

                  <h5>Console Email: <span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="cemail" id="cemail" class="form-control xtags"
                        placeholder="Whats your console email? (Used to verify that you host here)" type="text" value=""
                        required>
                  </div>
                  <br>


                  <h5>How old are you? <span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-info" style="padding:0"></i></span>
                     </div>
                     <select class="custom-select" id="age" name="age" required>

                        <option selected>Select...</option>

                        <option> 18+ </option>
                        <option> 16-18 </option>
                        <option> 13-16 </option>
                        <option> less than 13 </option>
                     </select>
                  </div>
                  <br>

                  <h5>Which position are you applying for?<span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-info" style="padding:0"></i></span>
                     </div>
                     <select class="custom-select" id="position" name="position" required>

                        <option selected>Select...</option>

                        <option> Helper </option>
                        <option> Moderator </option>
                     </select>
                  </div>
                  <br>


                  <h5>What languages can you speak? <span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="langs" id="langs" class="form-control xtags"
                        placeholder="Let us know the languages you can speak." type="text" value="" required>
                  </div>
                  <br>

                  <h5>Previous experiences: <span style="color:red">*</span></h5>
                  <small>Previous moderation experience please include invite links and server names.</small>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="prev" id="prev" class="form-control xtags"
                        placeholder="Let us know about previous experiences! (moderation/support)" type="text" value=""
                        required>
                  </div>
                  <br>

                  <h5>Coding knowledge: <span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="coding" id="coding" class="form-control xtags"
                        placeholder="This is not a requirements, but it will improve your chances by a lot!" type="text"
                        value="" required>
                  </div>
                  <br>
                  <h5>Any projects you are proud of? <span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="projects" id="projects" class="form-control xtags"
                        placeholder="What are any projects you have made that you are proud of?" type="text" value=""
                        required>
                  </div>

                  <h5>Why are you applying?<span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="why" id="why" class="form-control xtags"
                        placeholder="Why are you applying to become a staff member." type="text" value="" required>
                  </div>


                  <h5>What do you think makes you better than other applicants?<span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="better" id="better" class="form-control xtags"
                        placeholder="What makes you think you're better than other applicants, and why do you think we should accept you"
                        type="text" value="" required>
                  </div>

                  <h5>What can you offer to the staff team?<span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="offer" id="offer" class="form-control xtags"
                        placeholder="What will you be able to introduce to the staff team" type="text" value=""
                        required>
                  </div>

                  <h5>Anything else? <span style="color:red">*</span></h5>
                  <div class="form-group input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="padding:0"></i></span>
                     </div>
                     <input name="else" id="else" class="form-control xtags"
                        placeholder="Anything else you want to put? No? Just put No" type="text" value="" required>
                  </div>

                  <hr>

                  <div class="form-group">
                     <button type="submit" class="btn btn-red btn-block" id="ssubm" name="ssubm"
                        onclick="return xcheck();">Submit</button>
                  </div>

               </form>
            </article>
         </div>
      </div>

   </main>

   <script>
      $('textarea').autoResize();
   </script>