<%- include("../partials/header.ejs", { botInfo: true, Title: `${bot.client.username}`, Avatar: `https://cdn.discordapp.com/avatars/${bot.id}/${bot.client.avatar}`, Redirect: `/bot/${bot.id}`, user }) %>

<br><br><br><br>

<center>
    <div class="h5 mb-0 font-weight-bold"> ReWritting this page lol</div>
</center>
